<a href="https://colab.research.google.com/github/Andy-Tsunami/UTS-DataAnalytics-13110642/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
try:
    import plotly
    major_plotly_version = int(plotly.__version__.split('.')[0])
    assert major_plotly_version >= 4
except:
    !pip install plotly==4.1.0
    
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import xarray as xr  
from datetime import datetime, date, time, tzinfo, timedelta

COLAB = True

In [0]:
url = 'https://raw.githubusercontent.com/Andy-Tsunami/UTS-DataAnalytics-13110642/master/DEPARTURES.csv'
df = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [4]:
df.head()

  Flight_No Callsign              Origins  ... Position Gate Avail_Desks
0     EK415   UAE8JH                Dubai  ...      NaN   57      E1-E12
1     FJ914   FJI914                 Nadi  ...      NaN   31     A13-A16
2     PO240   PAC240                Tokyo  ...      NaN  NaN         NaN
3     HU448   CHH448  Haikou Taiyuan/Wusu  ...      NaN   30     G10-G15
4     QF141   QFA141             Auckland  ...      NaN   63       C1-C4

[5 rows x 24 columns]

In [5]:
len(df)

14274

In [5]:
df['Sched_Time']

0         6:00
1         6:15
2         6:30
3         7:55
4         7:55
5         7:55
6         8:50
7         8:55
8         8:30
9         9:05
10        9:15
11        8:45
12        9:30
13        9:30
14        9:40
15        9:50
16        9:55
17       10:00
18       10:00
19       10:05
20       10:15
21        9:20
22       10:15
23       10:20
24       10:00
25       10:30
26       10:30
27       10:45
28        9:00
29       10:55
         ...
14244    18:30
14245    18:40
14246    18:45
14247    18:55
14248    19:00
14249    18:45
14250    18:05
14251    19:15
14252    19:10
14253    19:45
14254    19:55
14255    20:30
14256    20:50
14257    20:50
14258    20:55
14259    20:55
14260    20:55
14261    21:10
14262    21:00
14263    21:15
14264    21:20
14265    21:20
14266    19:40
14267    21:40
14268    21:45
14269    21:55
14270    21:55
14271    22:10
14272    22:10
14273    19:00
Name: Sched_Time, Length: 14274, dtype: object

In [6]:
df['Flight_No'].value_counts()

LA800      124
CX138      122
SQ222      122
FJ914      122
CZ326      122
AC34       122
QF1        122
QF139      122
VA141      122
QF121      122
UA870      122
EY451      122
KE122      122
QF129      122
FJ910      122
QF127      122
HA452      122
QF141      122
SQ242      122
QF163      122
SQ232      122
MH122      122
QF11       122
QF143      122
NH880      122
EK413      122
QF161      122
MH140      122
EK412      122
QF145      122
          ...
NZ6066       1
FX9147       1
ASY576       1
NAB006       1
QF6033       1
JQ7143       1
VA104        1
UA2739       1
QF6026       1
QF6019       1
VA9584       1
NZ6016       1
FJ2914       1
NZ6052       1
HJ92         1
ZL7410       1
QR909D       1
QR2909       1
VN772D       1
QF6025       1
DNA4993      1
FX9177       1
BOXER43      1
UA2784       1
QF7340       1
AI301D       1
QF94         1
MF802A       1
QF25D        1
VA1D         1
Name: Flight_No, Length: 324, dtype: int64

In [7]:
print(df.dtypes)

Flight_No          object
Callsign           object
Origins            object
Airports           object
Int_Dom            object
FltTyp             object
Date               object
Sched_Time         object
Est_Date           object
Est_Time           object
Off_Chks_Date      object
OFF_BLOCK          object
Act_Date           object
Act_Time           object
PROV_TOTAL_PAX     object
Regn               object
AC_TYPE            object
STATUS             object
Public             object
Terminal           object
STAND              object
Position          float64
Gate               object
Avail_Desks        object
dtype: object

In [0]:
Sched = pd.to_datetime(df['Sched_Time'])
OffB = pd.to_datetime(df['OFF_BLOCK'])
diff = 
df['otp'] = OffB - Sched
df.head()

In [53]:
Sched = datetime.hour(df['Sched_Time'], '%h %m').hour()
OffB = datetime.hour(df['OFF_BLOCK'], '%h %m').hour()
df['otp'] = OffB - Sched
df.head()

TypeError: ignored

In [0]:
qf_data=df.loc[df['FltTyp'] == "J"]

In [32]:
qf_data.head(5)

  Flight_No Callsign              Origins  ... Gate Avail_Desks      otp
0     EK415   UAE8JH                Dubai  ...   57      E1-E12 00:17:00
1     FJ914   FJI914                 Nadi  ...   31     A13-A16 00:10:00
3     HU448   CHH448  Haikou Taiyuan/Wusu  ...   30     G10-G15 00:19:00
4     QF141   QFA141             Auckland  ...   63       C1-C4 00:28:00
5     QR906   QTR906             Canberra  ...   36         NaN 00:04:00

[5 rows x 25 columns]

In [10]:
px.scatter(qf_data.query('Flight_No == ["QF1","QF7", "QF81", "QF63"]'),
           x="Date" , y="otp", color="Flight_No")

In [0]:

otp=qf1_data[qf1_data["Act_Time"] == "Sched_Time"]