<a href="https://colab.research.google.com/github/Andy-Tsunami/UTS-DataAnalytics-13110642/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
try:
    import plotly
    major_plotly_version = int(plotly.__version__.split('.')[0])
    assert major_plotly_version >= 4
except:
    !pip install plotly==4.1.0
    
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import xarray as xr  
from datetime import datetime, date, time, timedelta
import sklearn as sk
from sklearn import svm
from sklearn.model_selection import train_test_split
import sklearn_pandas as skp
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error


COLAB = True

In [0]:
url = 'https://raw.githubusercontent.com/Andy-Tsunami/UTS-DataAnalytics-13110642/master/DEPARTURES.csv'
df = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [3]:
df.head(400)

    Flight_No Callsign              Origins  ... Position Gate Avail_Desks
0       EK415   UAE8JH                Dubai  ...      NaN   57      E1-E12
1       FJ914   FJI914                 Nadi  ...      NaN   31     A13-A16
2       PO240   PAC240                Tokyo  ...      NaN  NaN         NaN
3       HU448   CHH448  Haikou Taiyuan/Wusu  ...      NaN   30     G10-G15
4       QF141   QFA141             Auckland  ...      NaN   63       C1-C4
5       QR906   QTR906             Canberra  ...      NaN   36         NaN
6       CX110   CPA110            Hong Kong  ...      NaN   33       B1-B9
7       JQ119   JST119                 Nadi  ...      NaN   55     J24-J28
8       VA181   VOZ181                 Nadi  ...      NaN   53      J1-J14
9       SQ212   SIA212            Singapore  ...      NaN   58     K15-K28
10      JL772   JAL772                Tokyo  ...      NaN   34     A13-A18
11      EK412   UAE3HJ         Christchurch  ...      NaN   57      E1-E12
12      QF127   QFA127            Hong Kong  ...      NaN    8       C1-C4
13      QF121   QFA121           Queenstown  ...      NaN   60       C1-C4
14      QF161   QFA161           Wellington  ...      NaN  26A       C1-C4
15      NZ102   ANZ102             Auckland  ...      NaN   54       H1-H7
16      JQ201   JST201             Auckland  ...      NaN   55     J24-J28
17      TG476   THA476              Bangkok  ...      NaN   56       G1-G9
18      GA715   GIA715             Denpasar  ...      NaN   25     F10-F17
19      NZ762   ANZ762       Norfolk Island  ...      NaN  26E       H1-H7
20       VA83    VOZ83            Hong Kong  ...      NaN   59      J1-J14
21      NZ846   ANZ846           Wellington  ...      NaN  26D       H1-H7
22      VA171   VOZ171           Wellington  ...      NaN  26G      J1-J14
23      OZ602   AAR602                Seoul  ...      NaN   61     E13-E24
24      VA141   VOZ141             Auckland  ...      NaN  26C      J1-J14
25      QF143   QFA143             Auckland  ...      NaN   31       C1-C4
26       QF23    QFA23              Bangkok  ...      NaN   30       C1-C4
27      AI301   AIC301                Delhi  ...      NaN  26B     J15-J21
28      KE122   KAL122                Seoul  ...      NaN   24     H14-H25
29      QF129   QFA129             Shanghai  ...      NaN   32       C1-C4
..        ...      ...                  ...  ...      ...  ...         ...
370     NZ102   ANZ102             Auckland  ...      NaN   54       H1-H7
371     GA715   GIA715             Denpasar  ...      NaN   33     F10-F15
372     TG476   THA476              Bangkok  ...      NaN   58       G1-G9
373     JQ201   JST201             Auckland  ...      NaN  26G     J24-J28
374     VA141   VOZ141             Auckland  ...      NaN   63      J1-J14
375       PX2     ANG2         Port Moresby  ...      NaN  26B       F1-F3
376     OZ602   AAR602                Seoul  ...      NaN   57     E13-E24
377      VA83    VOZ83            Hong Kong  ...      NaN   56      J1-J14
378     NZ762   ANZ762       Norfolk Island  ...      NaN  26F       H1-H7
379     QF143   QFA143             Auckland  ...      NaN   37       C1-C4
380      QF23    QFA23              Bangkok  ...      NaN    9       C1-C4
381     VA163   VOZ163           Queenstown  ...      NaN  26A      J1-J14
382     CX162   CPA162            Hong Kong  ...      NaN   36       B1-B9
383     QF129   QFA129             Shanghai  ...      NaN   59       C1-C4
384    PX6002  ANG6002         Port Moresby  ...      NaN  NaN         NaN
385     JD480   CBJ480              Qingdao  ...      NaN   35       F4-F9
386     LA800   LAN800    Auckland Santiago  ...      NaN   24       A1-A8
387      QF11    QFA11          Los Angeles  ...      NaN    8       C1-C4
388      AA72    AAL72          Los Angeles  ...      NaN   31     B13-B18
389     UA842   UAL842          Los Angeles  ...      NaN   50     D13-D24
390     CZ326   CSN326            Guangzhou  ...      NaN   34      K1-K14
391      VA33    VOZ33             Denpasar  ...      NaN   63      J1-J14
392      QF81    QFA81            Singapore  ...      NaN   30       C1-C4
393      QF63    QFA63         Johannesburg  ...      NaN   25       C1-C4
394     UA100   UAL100              Houston  ...      NaN   53     D13-D24
395      NF11    AVN11            Port Vila  ...      NaN  26A     H11-H13
396     D7223   XAX223         Kuala Lumpur  ...      NaN   37     H14-H19
397     MU562   CES562             Shanghai  ...      NaN   33      E1-E12
398     NZ104   ANZ104             Auckland  ...      NaN   56       H1-H7
399     MF808   CXA808               Fuzhou  ...      NaN   61       G1-G7

[400 rows x 24 columns]

In [4]:
df['Sched_Time']

0         6:00
1         6:15
2         6:30
3         7:55
4         7:55
5         7:55
6         8:50
7         8:55
8         8:30
9         9:05
10        9:15
11        8:45
12        9:30
13        9:30
14        9:40
15        9:50
16        9:55
17       10:00
18       10:00
19       10:05
20       10:15
21        9:20
22       10:15
23       10:20
24       10:00
25       10:30
26       10:30
27       10:45
28        9:00
29       10:55
         ...
14244    18:30
14245    18:40
14246    18:45
14247    18:55
14248    19:00
14249    18:45
14250    18:05
14251    19:15
14252    19:10
14253    19:45
14254    19:55
14255    20:30
14256    20:50
14257    20:50
14258    20:55
14259    20:55
14260    20:55
14261    21:10
14262    21:00
14263    21:15
14264    21:20
14265    21:20
14266    19:40
14267    21:40
14268    21:45
14269    21:55
14270    21:55
14271    22:10
14272    22:10
14273    19:00
Name: Sched_Time, Length: 14274, dtype: object

In [5]:
df['Flight_No'].value_counts()

LA800      124
QF121      122
CX138      122
QF143      122
VA141      122
EY455      122
QF25       122
SQ288      122
HA452      122
CX100      122
MH140      122
CZ326      122
KE122      122
NH880      122
QR909      122
AC34       122
SQ222      122
MU562      122
AA72       122
JL772      122
QF163      122
UA870      122
QR907      122
MH122      122
QF145      122
FJ910      122
QF1        122
QF117      122
QF141      122
QF129      122
          ...
ASY602       1
ASY318       1
JQ7143       1
QR908D       1
NZ6016       1
AI301D       1
UA2739       1
BOXER43      1
NAB006       1
FJ1961       1
NAB954       1
QR909D       1
NZ6058       1
ZL7410       1
QF7408       1
EK9242       1
VA9584       1
DL9887       1
DNA4993      1
5X6034       1
MF802A       1
TFR132       1
SQ7293       1
DL9890       1
BSK260       1
NZ834        1
5Y7531       1
VA9551       1
PX6002       1
VA171R       1
Name: Flight_No, Length: 324, dtype: int64

In [6]:
print(df.dtypes)

Flight_No          object
Callsign           object
Origins            object
Airports           object
Int_Dom            object
FltTyp             object
Date               object
Sched_Time         object
Est_Date           object
Est_Time           object
Off_Chks_Date      object
OFF_BLOCK          object
Act_Date           object
Act_Time           object
PROV_TOTAL_PAX     object
Regn               object
AC_TYPE            object
STATUS             object
Public             object
Terminal           object
STAND              object
Position          float64
Gate               object
Avail_Desks        object
dtype: object

In [7]:


Sched = pd.to_datetime(df['Sched_Time'])
OffB = pd.to_datetime(df['OFF_BLOCK'])
df['otp'] = OffB - Sched

df.head()

  Flight_No Callsign              Origins  ... Gate Avail_Desks               otp
0     EK415   UAE8JH                Dubai  ...   57      E1-E12 -1 days +23:58:00
1     FJ914   FJI914                 Nadi  ...   31     A13-A16 -1 days +23:57:00
2     PO240   PAC240                Tokyo  ...  NaN         NaN          00:02:00
3     HU448   CHH448  Haikou Taiyuan/Wusu  ...   30     G10-G15          00:02:00
4     QF141   QFA141             Auckland  ...   63       C1-C4          00:02:00

[5 rows x 25 columns]

In [8]:
def minute2binary(min):
  if min > 15: return 0
  else: return 1

df['On_Time'] = pd.to_timedelta(df['otp']).dt.total_seconds()//60
df['On_Time'] = df['On_Time'].apply(minute2binary)
df.head(100)

   Flight_No Callsign  ...               otp On_Time
0      EK415   UAE8JH  ... -1 days +23:58:00       1
1      FJ914   FJI914  ... -1 days +23:57:00       1
2      PO240   PAC240  ...          00:02:00       1
3      HU448   CHH448  ...          00:02:00       1
4      QF141   QFA141  ...          00:02:00       1
5      QR906   QTR906  ... -1 days +23:50:00       1
6      CX110   CPA110  ... -1 days +23:57:00       1
7      JQ119   JST119  ...          00:01:00       1
8      VA181   VOZ181  ...          00:20:00       0
9      SQ212   SIA212  ... -1 days +23:48:00       1
10     JL772   JAL772  ...          00:06:00       1
11     EK412   UAE3HJ  ...          00:35:00       0
12     QF127   QFA127  ... -1 days +23:56:00       1
13     QF121   QFA121  ...          00:03:00       1
14     QF161   QFA161  ...          00:19:00       0
15     NZ102   ANZ102  ...          00:05:00       1
16     JQ201   JST201  ...          00:07:00       1
17     TG476   THA476  ...          00:04:00       1
18     GA715   GIA715  ... -1 days +23:53:00       1
19     NZ762   ANZ762  ...          00:19:00       0
20      VA83    VOZ83  ...          00:08:00       1
21     NZ846   ANZ846  ...          02:45:00       0
22     VA171   VOZ171  ... -1 days +23:56:00       1
23     OZ602   AAR602  ...          00:03:00       1
24     VA141   VOZ141  ...          00:25:00       0
25     QF143   QFA143  ...          00:01:00       1
26      QF23    QFA23  ...          00:05:00       1
27     AI301   AIC301  ...          00:05:00       1
28     KE122   KAL122  ...          00:32:00       0
29     QF129   QFA129  ...          00:02:00       1
..       ...      ...  ...               ...     ...
70     CX100   CPA100  ...          00:00:00       1
71     VA145   VOZ145  ... -1 days +23:55:00       1
72     NZ112   ANZ112  ...          00:02:00       1
73     SQ222   SIA222  ... -1 days +23:55:00       1
74      JQ61    JST61  ...          00:30:00       0
75     QR907   QTR907  ... -1 days +23:58:00       1
76      BA16    BAW16  ... -1 days +23:55:00       1
77     EY451   ETD89D  ... -1 days +23:51:00       1
78     QF147   QFA147  ...          00:01:00       1
79      QF43    QFA43  ... -1 days +23:56:00       1
80     EK417   UAE417  ...          00:04:00       1
81       QF1     QFA1  ...          00:26:00       0
82      JQ37    JST37  ... -1 days +23:55:00       1
83      QF73    QFA73  ... -1 days +23:59:00       1
84     QF163   QFA163  ...          00:08:00       1
85     QF139   QFA139  ...          00:02:00       1
86     VA147   VOZ147  ...          00:19:00       0
87     NZ108   ANZ108  ...          00:11:00       1
88     NZ842   ANZ842  ...          00:20:00       0
89     SQ242   SIA242  ...          00:11:00       1
90      VA37    VOZ37  ...          00:31:00       0
91     NZ888   ANZ888  ...          00:05:00       1
92       QF3     QFA3  ...          00:09:00       1
93      5X35    UPS35  ... -1 days +23:46:00       1
94    MH6208  MAS6208  ...          00:27:00       0
95     QF149   QFA149  ...          00:29:00       0
96     JQ143   JST143  ...          00:04:00       1
97    QF7557  QFA7557  ... -1 days +23:20:00       1
98     EK419   UAE419  ...          00:01:00       1
99     NZ706   ANZ706  ...          03:25:00       0

[100 rows x 26 columns]

In [9]:
print(df.dtypes)

Flight_No                  object
Callsign                   object
Origins                    object
Airports                   object
Int_Dom                    object
FltTyp                     object
Date                       object
Sched_Time                 object
Est_Date                   object
Est_Time                   object
Off_Chks_Date              object
OFF_BLOCK                  object
Act_Date                   object
Act_Time                   object
PROV_TOTAL_PAX             object
Regn                       object
AC_TYPE                    object
STATUS                     object
Public                     object
Terminal                   object
STAND                      object
Position                  float64
Gate                       object
Avail_Desks                object
otp               timedelta64[ns]
On_Time                     int64
dtype: object

In [0]:
qf_data=df.loc[df['FltTyp'] == "J"]

In [11]:
px.scatter(qf_data.query('Flight_No == ["QF1","QF7", "QF81", "QF63"]'),
           x="Date" , y="otp", color="Flight_No")

In [12]:
df.head()

  Flight_No Callsign  ...               otp On_Time
0     EK415   UAE8JH  ... -1 days +23:58:00       1
1     FJ914   FJI914  ... -1 days +23:57:00       1
2     PO240   PAC240  ...          00:02:00       1
3     HU448   CHH448  ...          00:02:00       1
4     QF141   QFA141  ...          00:02:00       1

[5 rows x 26 columns]

In [0]:
#df.drop(columns=['Callsign', 'Origins', 'Int_Dom', 'STATUS', 'Public', 'Terminal', 'Position', 'Est_Date', 'Est_Time'], axis=1, inplace=True)

In [0]:
le = LabelEncoder()

#le.fit(df['Flight_No'].astype(str))
#df['Flight_No'] = le.transform(df['Flight_No'].astype(str))

le.fit(df['Airports'].astype(str))
df['Airports'] = le.transform(df['Airports'].astype(str))

le.fit(df['FltTyp'].astype(str))
df['FltTyp'] = le.transform(df['FltTyp'].astype(str)) 

le.fit(df['Date'].astype(str))
df['Date'] = le.transform(df['Date'].astype(str))

le.fit(df['Off_Chks_Date'].astype(str))
df['Off_Chks_Date'] = le.transform(df['Off_Chks_Date'].astype(str))

le.fit(df['Act_Date'].astype(str))
df['Act_Date'] = le.transform(df['Act_Date'].astype(str))

le.fit(df['Regn'].astype(str))
df['Regn'] = le.transform(df['Regn'].astype(str))

le.fit(df['AC_TYPE'].astype(str))
df['AC_TYPE'] = le.transform(df['AC_TYPE'].astype(str))

le.fit(df['Avail_Desks'].astype(str))
df['Avail_Desks'] = le.transform(df['Avail_Desks'].astype(str))

le.fit(df['STAND'].astype(str))
df['STAND'] = le.transform(df['STAND'].astype(str))

le.fit(df['Gate'].astype(str))
df['Gate'] = le.transform(df['Gate'].astype(str))

le.fit(df['PROV_TOTAL_PAX'].astype(str))
df['PROV_TOTAL_PAX'] = le.transform(df['PROV_TOTAL_PAX'].astype(str))

In [15]:
df['Sched_Time'] = pd.to_datetime(df['Sched_Time'])
df['Sched_Time'] = pd.to_timedelta(df['Sched_Time']).dt.total_seconds()//60
#df['Sched_Time'] = df['Sched_Time'].dt.time

#df['Est_Time'] = pd.to_datetime(df['Est_Time'])
#df['Est_Time'] = pd.to_timedelta(df['Est_Time']).dt.total_seconds()//60
#df['Est_Time'] = df['Est_Time'].dt.time

df['OFF_BLOCK'] = pd.to_datetime(df['OFF_BLOCK'])
df['OFF_BLOCK'] = pd.to_timedelta(df['OFF_BLOCK']).dt.total_seconds()//60
#df['OFF_BLOCK'] = df['OFF_BLOCK'].dt.time

df['Act_Time'] = pd.to_datetime(df['Act_Time'])
df['Act_Time'] = pd.to_timedelta(df['Act_Time']).dt.total_seconds()//60
#df['Act_Time'] = df['Act_Time'].dt.time

df['otp'] = pd.to_datetime(df['otp'])
df['otp'] = pd.to_timedelta(df['otp']).dt.total_seconds()//60
#df['Act_Time'] = df['Act_Time'].dt.time

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning:

Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: FutureWarning:

Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: FutureWarning:

Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning:

Passing timedelta64-dtype data is deprecated, will raise a TypeError in a future version

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: FutureWarning:

Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version

In [0]:
def time_to_num(time_str):
    hh, mm , ss = map(int, time_str.split(':'))
    return ss + 60*(mm + 60*hh)

In [85]:
print(df.dtypes)

Flight_No          object
Airports            int64
FltTyp              int64
Date                int64
Sched_Time        float64
Off_Chks_Date       int64
OFF_BLOCK         float64
Act_Date            int64
Act_Time          float64
PROV_TOTAL_PAX      int64
Regn                int64
AC_TYPE             int64
STAND               int64
Gate                int64
Avail_Desks         int64
otp               float64
On_Time             int64
dtype: object

In [86]:
df.head(150)

    Flight_No  Airports  FltTyp  Date  ...  Gate  Avail_Desks    otp  On_Time
0       EK415        31       4     0  ...    18           98   -3.0        1
1       FJ914        66       4     0  ...     4            2   -3.0        1
2       PO240        74       1     0  ...    28           61    2.0        1
3       HU448        35       4     0  ...     3          134    2.0        1
4       QF141         1       4     0  ...    24           96    2.0        1
5       QR906        11       4     0  ...     9           61  -10.0        1
6       CX110        40       4     0  ...     6           78   -3.0        1
7       JQ119        66       4     0  ...    16           42    1.0        1
8       VA181        66       4     0  ...    14           21   20.0        0
9       SQ212        91       4     0  ...    19           56  -12.0        1
10      JL772        74       4     0  ...     7           24    6.0        1
11      EK412        16       4     0  ...    18           98   35.0        0
12      QF127        40       4     0  ...    25           96   -5.0        1
13      QF121         7       4     0  ...    21           96    3.0        1
14      QF161       103       4     0  ...    29           96   19.0        0
15      NZ102         1       4     0  ...    15          141    5.0        1
16      JQ201         1       4     0  ...    16           42    7.0        1
17      TG476        94       4     0  ...    17          131    4.0        1
18      GA715        29       4     0  ...    12          120   -7.0        1
19      NZ762        71       4     0  ...    33          141   19.0        0
20       VA83        40       4     0  ...    20           21    8.0        1
21      NZ846       103       4     0  ...    32          141  165.0        0
22      VA171       103       4     0  ...     2           21   -5.0        1
23      OZ602        47       4     0  ...    22          107    3.0        1
24      VA141         1       4     0  ...    31           21   25.0        0
25      QF143         1       4     0  ...     4           96    1.0        1
26       QF23        94       4     0  ...     3           96    5.0        1
27      AI301        25       4     0  ...    30           29    5.0        1
28      KE122        47       4     0  ...     1          153   32.0        0
29      QF129        85       4     0  ...     5           96    2.0        1
..        ...       ...     ...   ...  ...   ...          ...    ...      ...
120     FJ914        66       4    57  ...    10            2   -5.0        1
121     QF141         1       4    57  ...    24           96   -3.0        1
122     QR906        11       4    57  ...     9           61   -5.0        1
123       PX2        81       4    57  ...    29          114    NaN        1
124     VA181        66       4    57  ...     4           21   18.0        0
125      QF91        73       4    57  ...    16           96   -3.0        1
126     CX110        40       4    57  ...    14           78   27.0        0
127     KE122        47       4    57  ...     0          153    2.0        1
128     SQ212        91       4    57  ...    21           56   -5.0        1
129    HU7998        23       4    57  ...    26          134   -5.0        1
130     JL772        74       4    57  ...     7           24   -5.0        1
131    CZ3072        96       4    57  ...     8           48    4.0        1
132     NZ846       103       4    57  ...    24          141   11.0        1
133     NZ832         7       4    57  ...    30          141   -3.0        1
134     QF121         7       4    57  ...    32           96   11.0        1
135     QF127        40       4    57  ...    25           96   11.0        1
136      QF33        51       4    57  ...     5           96   -3.0        1
137     NZ884        16       4    57  ...    17          141    9.0        1
138     QF161       103       4    57  ...    15           96   -6.0        1
139     NZ702         1       4    57  ...    28          141    NaN        1
140     JQ201         1       4    57  ...    34           42    0.0        1
141     GA715        29       4    57  ...     6          120   -3.0        1
142     TG476        94       4    57  ...    10          131    7.0        1
143     VA141         1       4    57  ...    16           21   18.0        0
144     OZ602        47       4    57  ...    18          107    4.0        1
145      QF23        94       4    57  ...     3           96   14.0        1
146     QF143         1       4    57  ...    12           96   -2.0        1
147     CX162        40       4    57  ...     8           78    3.0        1
148     QF129        85       4    57  ...    13           96    5.0        1
149     JD480        97       4    57  ...    19          116   -5.0        1

[150 rows x 17 columns]

In [0]:
Flights = df['Flight_No']
Flight_Date = df['Date']
OTP = df['On_Time']
Location = df['Airports']

In [0]:
#Splitting the data into training and testing sampels
train, test, = train_test_split(df, test_size=0.3, random_state=42)

In [0]:
train_labels = train.pop('Flight_No')
test_labels = test.pop('Flight_No')

In [22]:
train.head()

       Airports  FltTyp  Date  Sched_Time  ...  Gate  Avail_Desks   otp  On_Time
12616        53       4    63  26153170.0  ...    17           83   1.0        1
13087        12       1    79  26153185.0  ...    34          153   2.0        1
12657        86       4    67  26152455.0  ...    12            6  14.0        1
12075        50       4    47  26152435.0  ...    24           47   0.0        1
7250         40       4     2  26152295.0  ...    16           70  -6.0        1

[5 rows x 16 columns]

In [23]:
train_labels.head()

12616    MH140
13087    TFX41
12657    VN772
12075     QF33
7250     CX110
Name: Flight_No, dtype: object

In [24]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

model = gnb.fit(train('On_Time'))

TypeError: ignored

In [115]:
train = train.fillna(0)

Train_Predictor_Columns = ['Airports', 'FltTyp','Date', 'Sched_Time', 'AC_TYPE','OFF_BLOCK', 'Act_Time','PROV_TOTAL_PAX', 'STAND' ,'Regn']
Train_Predict = train.On_Time
Train_X = train[Train_Predictor_Columns]
Test_X = test[Train_Predictor_Columns]


Rf_Model = RandomForestRegressor()
Rf_Model.fit(Train_X, Train_Predict)

for col in Train_Predictor_Columns:
  mean_col = sum(Train_X[col])/len(Train_X[col])
  Test_X[col] = Test_X[col].fillna(mean_col)

predictions = Rf_Model.predict(Test_X)
print(predictions)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning:

The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

[1.  0.6 0.6 ... 1.  0.7 1. ]

In [123]:
#print (accuracy = accuracy_score(Train_Predict, Rf_Model.predict(Train_X)))
print(accuracy_score(test.On_Time, predictions))

ValueError: ignored

In [122]:
train = train.fillna(0)
test = test.fillna(0)

Train_Predictor_Columns = ['Airports', 'FltTyp','Date', 'Sched_Time', 'AC_TYPE','OFF_BLOCK', 'Act_Time','PROV_TOTAL_PAX', 'STAND' ,'Regn']
Train_Predict = train.On_Time
Train_X = train[Train_Predictor_Columns]
Test_X = test[Train_Predictor_Columns]

model = svm.SVC(kernel='linear', gamma=1)
model.fit(Train_X, Train_Predict)
Y_Pred = model.predict(Test_X)

print ("Accuracy:", accuracy_score(test.On_Time,Y_Pred))

Accuracy: 0.7522764417464394