<a href="https://colab.research.google.com/github/Andy-Tsunami/UTS-DataAnalytics-13110642/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import datetime

In [0]:
url = 'https://raw.githubusercontent.com/Andy-Tsunami/UTS-DataAnalytics-13110642/master/DEPARTURES.csv'
df1 = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [0]:
df1.head()

  Flight No Callsign     Origins  ... Gate Avail. Desks Cancel Date
0    QF7405  JTE7405  Melbourne   ...  NaN          NaN   1/05/2019
1     EK415   UAE8JH      Dubai   ...   57       E1-E12     ES2-ES4
2     FJ914   FJI914       Nadi   ...   37      A13-A16         AS5
3     QF141   QFA141   Auckland   ...   55        C1-C4          C8
4     CX110   CPA110  Hong Kong   ...   35      F10-F18         FS5

[5 rows x 26 columns]

In [0]:
len(df1)

7028

In [0]:
df1['Flight No']

0       QF7405
1        EK415
2        FJ914
3        QF141
4        CX110
5         QF91
6        KE122
7        EK412
8        SQ212
9        JL772
10       VA181
11       JQ119
12       OZ602
13       QR906
14        DL40
15       QF129
16       QF143
17       UA100
18       QF121
19       NZ884
20        QF23
21        QF33
22       JQ201
23        VA83
24       TG476
25       VA141
26       GA715
27       CZ326
28       NZ102
29        QF81
         ...
6998     VA147
6999     QF163
7000     NZ888
7001     QF149
7002      FX73
7003     NZ842
7004       QF3
7005     SQ242
7006     NZ108
7007     CA174
7008    ASY315
7009     MU736
7010      QF25
7011     MU778
7012     EY455
7013     PO246
7014     NH880
7015     EK413
7016     QR909
7017      VA79
7018     QF117
7019     SQ288
7020     JQ143
7021     HA452
7022     CZ302
7023    SQ7286
7024     CX138
7025     MH140
7026      CI52
7027      5X37
Name: Flight No, Length: 7028, dtype: object